body, html {
    height: 100%; 
    margin: 0; 
    display: flex; 
    justify-content: center; 
    align-items: center; 
}

h1 {
    margin: 0; }

/* CSS for .flex-container */
.flex-container {
    display: flex;
    height: 600px; 
    flex-wrap: wrap;
    align-content: space-between; 
    justify-content: space-between; 
}